@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

.endpoint {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #8c00ff;
    font-size: 20px;
}

p {
    color: #555;
    margin: 10px 0;
}